# Core App Dependencies
streamlit>=1.29.0

# LangChain and Google Gemini
langchain-core
langchain>=0.1.12
langchain-community>=0.0.17
langchain-google-genai>=0.0.6
langchain-text-splitters
langchain_huggingface
sentence-transformers

# Vector store
faiss-cpu>=1.7.4

# Document loaders and parsers
PyPDF2>=3.0.1
python-docx>=1.1.0
pandas
pypdf

# Text processing
tiktoken>=0.5.1

# Environment variable loading
python-dotenv>=1.0.1

#tf-keras
#keras==2.13.1
#tensorflow==2.13.0
typing-extensions>=4.12.0
pydantic>=2.7.0
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
